/* Home Page Custom Styles */

/* Login/Register Modal Animation Styles */
/* Desktop styles */
@media (min-width: 768px) {
    .container-slider.right-panel-active .sign-in-container {
        transform: translateX(100%);
        z-index: 1;
    }

    .container-slider.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 50;
        animation: show 0.6s;
    }

    .container-slider.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .container-slider.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .container-slider.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .container-slider.right-panel-active .overlay-right {
        transform: translateX(20%);
    }
}

/* Mobile styles */
@media (max-width: 767px) {
    .container-slider.right-panel-active .sign-in-container {
        opacity: 0;
        z-index: 1;
        pointer-events: none;
    }

    .container-slider.right-panel-active .sign-up-container {
        opacity: 1;
        z-index: 20;
        pointer-events: auto;
    }

    .container-slider .sign-in-container {
        opacity: 1;
        z-index: 20;
        pointer-events: auto;
    }

    .container-slider .sign-up-container {
        opacity: 0;
        z-index: 1;
        pointer-events: none;
    }
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 50;
    }
}